<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film Fanatics</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body >
    <%- include('../partials/nav') %>
    
    <div class="movies-container">
      <% movies.forEach(movie => { %>
      <div class="movie">        
          <h2  >
            <%=movie.movieName%>
          </h2>
          <img width="250px" src="<%=movie.coverPhotoUrl%>" />
          <div class="paragraph-container">
            <p >Release Year: <%=movie.releaseYear%></p>
            <p >Director: <%=movie.director%></p>
            <p >Genre: <%=movie.genre%></p>
            <p >Description: <%=movie.description%></p>
          </div>
          <a class="see-more-button"  href="/movies/<%= movie._id%>">See more</a>
        </div>
      <%})%>
    </div>
  </body>
</html>