<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>See movie</title>
    <link rel="stylesheet" href="/show.css">
  </head>
  <body>
    <%- include('../partials/nav') %>
    <section class="show">
      <div class="movie-info">
        <h2>Movie Name:<%= movie.movieName %></h2>
        <img width="340px" src="<%= movie.coverPhotoUrl %>" alt="" />
        <h2>Genre:<%= movie.genre %></h2>
        <p>DESCRIPTION: <br> <%= movie.description %></p>
        <br>
        <% if (movie.stillinTheaters) { %>
        <p>Note:<em>This movie is still in theaters</em></p>
        <% } else { %>
        <p>Note:<em>This movie is no longer in theaters</em> </p>
      </div>
      
      <div>
        <h2>Reviews:</h2>
        <% } %> <% movie.userReviews.forEach(review => { %>
        <div >
          <ul>
            <li class="review">
              <p><%=review.userName%>:</p>
              <p><%=review.reviews %></p>
            </li>
          </ul>
        </div>
        <%}) %>

        <div class="action-buttons">
          <a href="/movies/<%=movie._id%>/review/new">
            <button>Add a review</button>
          </a>
          <form method="POST" action="/movies/<%=movie._id%>?_method=DELETE">
            <button type="submit">Delete Movie</button>
          </form>
          <a href="/movies/<%=movie._id%>/edit">
            <button type="submit">Edit Movie</button>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
